:root {
    --primary-color: #134074;
    --secondary-color: #989788;
    --accent1-color: #9BA2FF;
    --accent2-color: #E0607E;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Noto Sans", serif;
    color: var(--accent1-color);
    background-color: var(--secondary-color);
    line-height: 1.6;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header */
  header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid var(--accent2-color);
    max-width: 1000px;
    padding: 0 1rem;
  }

  header img {
    width: 64px;
    height: auto;
}
  
  .logo {
    margin: 0 0.25rem 0 1rem;
    display: flex;
    justify-content:space-around;
	  width: 100px;
	  height: auto;
  }

  .hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; 
    overflow: hidden;
    background-color: var(--primary-color); 
  }
  
  .hero-img {
    width: 97%;
    height: 90%;
    object-fit: cover; 
    max-height: 300px; 
  }
  
  h1 {
    font-size: 2rem;
    font-family: "Noto Sans", serif;
  }

  .client-img {
    width: 150px; 
    height: auto;
    float: right;
    margin: 0 0 10px 15px;
  }

  .navigation {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    margin: 0 1rem;
}

.navigation a {
    text-decoration: none;
    color: navy;
    font-weight: 500;
    padding: 0.5rem 0;
}

.navigation a:hover {
  color: var(--accent1-color);
  font-weight: bold;
}

  nav {
    display: flex;
    justify-content: flex-end;
  }
  
  nav a {
    margin-right: 15px;
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--accent2-color);
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  /* History Section */
  .history {
    margin: 40px 0;
  }
  
  .history-content {
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
    align-items: center;
    gap: 20px;
  }
  
  .history img {
    max-width: 100%;
    border-radius: 10px;
  }

  .history-content p {
    text-align: justify; /* Justify the text for better alignment */
  }
  
  /* Adventure Section */
  .adventure {
    margin: 40px 0;
  }
  
  .adventure-gallery {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .adventure-gallery figure {
    text-align: center;
    flex: 1;
  }
  
  .adventure-gallery img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  figcaption {
    margin-top: 10px;
    font-weight: bold;
    color: var(--primary-color);
  }
  
  /* Footer */
  footer {
    text-align: center;
    padding: 20px 0;
    background-color: var(--accent2-color);
    color: white;
  }
  
  footer .sociallinks {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  footer a img {
    width: 30px;
    margin: 0 10px;
}